{% extends 'encuesta/base.html' %}

{% block content %}
    <div>
        <img src="http://127.0.0.1:8000/static/Scatter_Mh_vs_Ms.png" height=200 width=200>
    </div>
    <h2>¿Qué tipo de interacción ves?</h2>
<!--    <ul>
      % for choice in Choice.objects.all %}
        <img src="{choice.cover.url}}" alt="{ choice.usuario }}">
      % endfor %}
    </ul>-->
    <form method="POST" class="choice-form">{% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>
{% endblock %}
