{% load static %}

<html>
    <head>
    <!--<title>PISCIS</title>-->
        <img src="http://127.0.0.1:8000/static/images_page/idea_logo_Piscis.jpeg" height=300 width=1100>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
	<!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'css/encuesta.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>

    <body>
        <div class="page-header">
            <!--<h1><a href="/">PISCIS</a></h1>-->
            <h98><a href="/">Plataform form interactive search citizen science</a></h98>
        </div>
        <div class="encuesta">           
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
