{% extends 'encuesta/base.html' %}

{% block content %}

<html>
    <body>
        <h2>¿Quiénes están detrás de este proyecto?</h2>
        <p>Somos una comunidad latinoamericana de científicos y desarolladores interesados en el estudio de la interacción entre galaxias.</p>


	<h2>Marcelo Lares</h2>
	<p>Dr. en Astronomía <br/>
	Areas de trabajo: Galaxias, Astrobiología, Machine Learning...
	</br><em>marcelo.lares@unc.edu.ar</em></p>


	<h2>Ingrid Daza</h2>
        <p>Lic. en Astronomía <br/>
        Areas de trabajo: Grupos compactos de galaxias, Machine Learning...
	</br><em>vanessa.daza@unc.edu.ar</em></p>


	<h2>Germán nosecuanto</h2>
        <p>Lic. en Astronomía <br/>
        Areas de trabajo: <br/>  Estructura a gran escala, Voids y esas cosas vacias que no tienen nada interesante :D ...
	</br><em>german.alfaro@unc.edu.ar</em></p>


	<h2>Jose Benavides</h2>
        <p>MSc. en Física <br/>
        Areas de trabajo: Grupos y cúmulos de galaxias, Grupo Local...
	</br><em>jose.benavides@unc.edu.ar</em></p>


	<h2>Vicky Santucho!!!</h2>
        <p>Dr. en Astronomía <br/>
        Areas de trabajo: Grupos de Galaxias, Grupo Local...
	</br><em>santucho@oac.unc.edu.ar</em></p>


	<h2>Juan Cabral</h2>
        <p>Dr. en algo de computación :D <br/>
        Areas de trabajo(En astronomía): Descomposición dinámica de Galaxias, Machine Learning...
	</br><em>jbcabral@oac.unc.edu.ar</em></p>

	<h2>Mauricio nosecuanto</h2>
        <p>Ingeniero de algo en sistemas :D <br/>
        Areas de trabajo: NPI, preguntarle a Juan Cabral :D ...
	</br><em>jbcabral@oac.unc.edu.ar</em></p>



	<h2>Contacto:</h2>
        <p>
	INSTITUTO DE ASTRONOMÍA TEÓRICA Y EXPERIMENTAL (IATE-CONICET, UNC)</br>
	Dirección: Laprida 854, X5000BGR – Córdoba<br/>
        Teléfono: + 54 351 433 1066 (Int. 100)</br>
	Teléfono: + 54 351 535 3776 (Ext. 75501)</br>
	Fax: Int. 101</br>
        <em>iate@oac.unc.edu.ar</em></br>
	¿Quieres saber sobre la labor científica del IATE?, pulsa <a href="http://iate.oac.uncor.edu/">aquí</a>!!!
	</p>

    </body>
</html>

{% endblock %}
