 {% extends 'encuesta/base.html' %}

{% block content %}

<html>

	<style>
		.contacto{padding: 2%;}
	</style>

	<head>
		<title>Contactos</title>
  	</head>

    <body>
	<div class="contacto">
        <h2>¿Quiénes están detrás de este proyecto?</h2>
        <p>Somos una comunidad latinoamericana de científicos y desarolladores interesados en el estudio de la interacción entre galaxias.</p>


		<h2>Marcelo Lares</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/mlares_45.jpg" height=150 width=150;>
        <p>Investigador Adjunto - Profesor Adjunto<br/>
			Temas: Estructura en Gran Escala del Universo
		</br><em>Contacto: Int. 210, marcelo.lares@unc.edu.ar</em></p>


		<h2>Vanessa Daza</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/vane.jpg" height=150 width=150;>
        <p>Becaria Doctoral<br/>
			Temas: Astronomía Galáctica y Extragaláctica
		</br><em>Contacto: vanessa.daza@unc.edu.ar</em></p>


		<h2>Germán nosecuanto</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/ger.jpeg" height=150 width=150;>
        <p>Becario Doctoral<br/>
			Temas: Estructura en Gran Escala del Universo
		</br><em>Contacto: german.alfaro@unc.edu.ar</em></p>
		

		<h2>Jose Benavides</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/jose2.png" height=150 width=150;>
        <p>Becario Doctoral <br/>
			Temas: Astronomía Galáctica y Extragaláctica
		</br><em>jose.benavides@unc.edu.ar</em></p>


		<h2>Victoria Santucho</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/santucho.jpg" height=150 width=150;>
        <p>Becaria Postdoctoral<br/>
			Temas: Estructura en Gran Escala del Universo
		</br><em>Contacto:  santucho@oac.unc.edu.ar</em></p>


		<h2>Juan Cabral</h2>
		<img src="http://127.0.0.1:8000/static/images_page/nosotros/cabral.jpg" height=150 width=150;>
        <p>Becario Doctoral<br/>
			Temas: Astronomía Galáctica y Extragaláctica
		</br><em>Contacto: jbcabral@oac.unc.edu.ar</em></p>


		<h2>Contacto:</h2>
        <p>
		INSTITUTO DE ASTRONOMÍA TEÓRICA Y EXPERIMENTAL (IATE-CONICET, UNC)</br>
		Dirección: Laprida 854, X5000BGR – Córdoba<br/>
        Teléfono: + 54 351 433 1066 (Int. 100)</br>
		Teléfono: + 54 351 535 3776 (Ext. 75501)</br>
		Fax: Int. 101</br>
        <em>iate@oac.unc.edu.ar</em></br>
		¿Quieres saber sobre la labor científica del IATE?, pulsa <a href="http://iate.oac.uncor.edu/">aquí</a>!!!
		</p>
	</div>
    </body>
</html>

{% endblock %}
