{% extends 'encuesta/base.html' %}

{% block content %}
<script>
        // Array con todas las imágenes que deseamos que se vayan cambiando a
        // cada clic
        var imagenes=Array("static/fig1.jpeg", "static/fig2.jpeg","static/fig3.jpeg");
        var imagenVisible=0;
     
        // Función que cambia la imagen actual por la siguiente
        function cambiar(img)
        {
            imagenVisible++;
            if(imagenVisible>=imagenes.length)
            {
                imagenVisible=0;
            }
            img.src=imagenes[imagenVisible];
            cargarSiguienteImagen();
        }
     
        /**
         * Esta función carga la siguiente imagen para no tener que esperar su carga
         * en el momento de mostrarla.
         */
        function cargarSiguienteImagen()
        {
            if((imagenVisible+1)<imagenes.length)
            {
                console.log(imagenVisible+1);
                var imgTmp=new Image();
                imgTmp.src=imagenes[imagenVisible+1];
            }
        }
     
        window.onload=function() {
            cargarSiguienteImagen();
        }
</script>
     
<style>
    img {cursor:pointer;}
</style>

<div>
    <img src="static/fig1.jpeg" height=300 width=700 onclick="cambiar(this);" align=right>
</div>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
	<h2><li><a href="{% url 'contact_det' %}">Contactos</a></h2>
	<!--<p>¿Quienes somos?</p>-->
    <h2><li><a href="{% url 'desc_det' %}">Descripción</a></h2>	
	<h2><li><a href="{% url 'app_encuesta' %}">Encuesta</a></h2>
    <!--<p>¡Participe de la encuesta!</p>-->
</ul>

{% endblock %}