{% extends 'encuesta/base.html' %}

{% block content %}

<head>
    <title>Proyecto Piscis</title>
</head>
	
<style>
	.proyecto{padding: 10%;}
</style>

<div class="proyecto">
	<h2>PROYECTO PISCIS</h2>

	<p style="text-align:justify;">La aplicación informática <b>PISCIS</b>: Plataform for Interactive Search and CItizen Science, construida sobre Django, un
		framework web de python de uso libre para el desarrollo de páginas web. El objetivo de este proyecto es brindar 
		una herramienta a la comunidad científica que facilite el proceso de generación de datos a partir de un conjunto imágenes 
		acompañadas de una encuesta, a través de una plataforma web de ciencia ciudadana. En particular mostramos la implementación 
		de PISCIS sobre un catálogo observacional de pares de galaxias destinado clasificar el tipo de interacción entre las mismas. 
		Mostramos también los principales resultados obtenidos tras su aplicación.</p>

	<p>Puedes acceder a toda al documentación del proyecto PISCIS en nuestro github <a href="https://github.com/mkoraj/piscis">aquí.</a></p>
			
</div>

{% endblock %}
