{% extends 'encuesta/base.html' %}

{% block content %}

<style>
#span3 {font-size: calc(1vh + 1.5vw);}
</style>

<head>
    <title>Proyecto Piscis</title>
</head>
	
<div class="conteiner1" style="margin-top: 16vh;margin-right: 3vw;margin-left: 3vw;">
    <div>
        <span id="span3" style="font-weight:bold">PROYECTO PISCIS</span>
    	<hr></hr>
    	<p style="text-align:justify;">En esta oportunidad, PISCIS: Platform for Interactive Search and CItizen Science, ha sido usada para la recopilar información acerca de la interacción 
		entre galaxias de parte del público.</p>

    	<p style="text-align:justify;">La aplicación informática <b>PISCIS</b>: Plataform for Interactive Search and CItizen Science, construida sobre Django, un framework web de Python de uso libre para el desarrollo de páginas web. El objetivo de este proyecto es brindar una herramienta a la comunidad científica que facilite el proceso de generación de datos a partir de un conjunto imágenes acompañadas de una encuesta, a través de una plataforma web de ciencia ciudadana.</p>

    	<p>Puedes acceder a toda al documentación del proyecto PISCIS en nuestro github <a href="https://github.com/vanedaza/piscis">aquí.</a></p>
			
    </div>
</div>
{% endblock %}
