{% extends 'encuesta/base.html' %}
{% load static %}
{% block content %}

<style>

  * {box-sizing: border-box;}

  .alta{
    margin: auto;
    margin-top: 0%;
    margin-left: 1%;
    width: 10%;
    height: 60%;
    float: left;
  }

  .media{
    margin: auto;
    margin-top: 4%;
    margin-left: 1%;
    width: 10%;
    height: 60%;
    float: left;
  }

  .baja{
    margin: auto;
    margin-top: 9%;
    margin-left: 1%;
    width: 10%;
    height: 60%;
    float: left;
  }

  .ask{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 0%;
    float: left;
  }

  .img-responsive{
    max-width: 20%;
    max-height: 20%;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 0%;
    float: left;
  }

  .flecha{
    margin-left: -18%;
    margin-right: 0%;
    margin-top: 9%;
    float: left;
    background-color: #2af5f5;
  }

  .interaccion{
    border:  #1aa3f3 8px ridge;
    font-size: 110%;
    font-family: Lucida;
    margin-left: -9%;
    margin-right: 0%;
    margin-top: 3%;
    float: left;
  }

  .votos{
    margin-top: -2.5%;
    margin-left: 2%;
    margin-right: 60%;
    width: 25%;
    height: 18%;
    float: left;
  }

.button1 {background-color: #076a91;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>


<div>

  <img src="{% static 'images_page/alta.png' %}" class="alta" alt="" width="5%" height="20%">
  <img src="{% static 'images_page/media.png' %}" class="media" alt="" width="5%" height="20%">
  <img src="{% static 'images_page/baja.png' %}" class="baja" alt="" width="5%" height="20%">

  <h3 style="color:#555155; font-family: Lucida Console;" class="ask" >¿Qué tipo de interacción ves?</h3> 
  <img src="{% static url_img_voto %}" class="img-responsive">
  <button style="font-size:100%" class="flecha" onClick="window.location.reload();">&#8594;</button>

  <form method="POST" class="choice-form">{% csrf_token %}
    <p style="color:#464446;" class=interaccion>Interacción: {{form.voto}}</p>
    <button style="color:#2f2d2f; float: left; font-size: 100%; margin-left: 45%; margin-top: 0%;" type="submit" class="save btn btn-default">Guardar voto</button>
  </form>

  <div style="color:#2e2b2b; border:  #faf4fa 8px ridge; text-align: center; font-size: 100%; font-family: Lucida Console" class="votos">Cantidad de votos actuales:
    <div style="color:#443f44; font-size: 100%; text-align: center; font-family: Lucida Console">{{ voto_number }} de 4000</div>
  </div>




  

  <!--p>Recuerda, puedes visitar nuestro sitio y votar cuanto quieras.<p-->



 
<div>

{% endblock %}
