<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
  </head>
  <body>
    <form action="{% url 'app:upload_image' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
          <input id="id_image" type="file" accept="image/*" name="image" required>
      </p>
      <p>
          Image name:
          <input id="id_name" type="text" name="name" required>
      </p>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>